@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Canopee';
  src: url('./assets/Canopee.woff2');
  format: ('woff2');
}

@font-face {
  font-family: 'CondMedium';
  src: url('./assets/CondMedium.woff2');
  format: ('woff2');
}

@font-face {
  font-family: 'NewLight';
  src: url('./assets/EditorialNew-Light.woff2');
  format: ('woff2');
}